*{
    padding: 0;
    margin: 0;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card-details{
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 600px;
    width: 250px;
    border-radius: 20px;
    padding: 0.75rem;
   margin: 1rem;
}
.card img {
    height: 500px;
    width: 240px;
    border-radius: 20px;
}
.card h2{
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(44, 44, 44);
    margin: 2px;
}
.card h5{
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(44, 44, 44);
}
.text{
    color: #fff;
    display: flex;
    max-width: 210px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 470px;
    display: flex;
    position: absolute;
    border-radius: 20px;
    padding: 1rem;
    opacity: 0;
}
.text:hover{
    opacity: 1;
}
.save-button{
    background-color:rgb(44, 44, 44);
    border: none;
}
.button{
    width: 6rem;
    height: 2rem;
    text-align: center;
    margin: 30px auto;
    background-color: #e50914;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.mobile-generate-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1250px){
    .card{
        height: 600px;
        width: 200px;
        border-radius: 20px;
        padding: 0.75rem;
        margin: 1rem;
    }
    .card img {
        height: 480px;
        width: 200px;
        border-radius: 20px;
    }
    .card h2, h5{
        font-size: 1.2rem;
        color: #fff;
        background-color: none;
    }
    .text{
        max-width: 170px;
        height: 447px;
    }
}
@media only screen and (max-width: 1030px){
    .card{
        height: 600px;
        width: 180px;
        border-radius: 20px;
        padding: 0.75rem;
        margin: 0.5rem;
    }
    .card img {
        height: 470px;
        width: 180px;
        border-radius: 20px;
    }
    .text{
        max-width: 150px;
        height: 440px;
    }
}
@media only screen and (max-width: 960px){
    .card{
        height: 460px;
        width: 180px;
        border-radius: 20px;
        padding: 0.75rem;
        margin: 0.5rem;
    }
    .card img {
        height: 400px;
        width: 180px;
        border-radius: 20px;
    }
    .text{
        max-width: 148px;
        max-height: 350px;
    }
    .card h2, h5{
        font-size: 1rem;
        z-index: 1000;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 720px){
    .card{
        height: 280px;
        width: 180px;
        border-radius: 20px;
        padding: 0.75rem;
        margin: 1rem 2rem;
    }
    .card img {
        height: 200px;
        width: 170px;
        border-radius: 20px;
    }
    .text{
        display: none;
    }
    .text:hover{
        opacity: 0;
    }
    .card h2, h5{
        font-size: 0.85rem;
        z-index: 1000;
        margin-top: 3px;
    }
}
@media only screen and (max-width: 545px){
    .card{
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
        width: 400px;
        border-radius: 20px;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: center;
    }
    .card-details{
        flex-direction: column;
        background-color: rgb(44, 44, 44);
        align-items: center;
        justify-content: center;
    }
    .card img {
        height: 100px;
        width: 80px;
        border-radius: 5px;
    }
    .text{
        display: none;
    }
    .text:hover{
        opacity: 0;
    }
    .card h2{
        font-size: 1.15rem;
        z-index: 1000;
        background-color:rgb(44, 44, 44);
        margin: 2px;
    }
    .card h5{
        font-size: 1.2rem;
        background-color:rgb(44, 44, 44);
    }
    .mobile-generate-button button{
        width: 200px;
        margin-top: 2px;
    }
   
}
